
<div class="display: flex">
    <div class="row">
    <% @posts.each do |post|%>
    <div class="card m-2">
        <div class="card-title m-3 font-weight-bold">
        <%= link_to post.title, post_path(post.id) %>
            <div class="card-body text-truncate font-weight-normal">
                <%=post.body%>
            </div>
        </div>
    </div>
    <% end %>
    </div>
</div>