html{
    --spacer: 10px;
}

@media (min-width: 576px) {
    .card{
        width: calc(100% - 2*var(--spacer));
    }
 }

@media (min-width: 768px) { 
    .card{
        width: calc(100%/2 - 2*var(--spacer));
    }
 }

@media (min-width: 992px) { 
    .card{
        width: calc(100%/3 - 2*var(--spacer));
    }
 }
